* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --normal: #c9c891;
  --fire: #efd3ba;
  --water: #A5e1e9;
  --electric: #ffe36e;
  --grass: #c2e5d5;
  --ice: #96D9D6;
  --fighting: #d95b56;
  --poison: #c4bdF3;
  --ground: #E2BF65;
  --flying: #A98FF3;
  --psychic: #ffa0bd;
  --bug: #c6d365;
  --rock: #c5b14e;
  --ghost: #a48dc1;
  --dragon: #9164ff;
  --dark: #8f7e74;
  --steel: #B7B7CE;
  --fairy: #f3c2da;
}

.normal {
  background-color: var(--normal);
}

.fire {
  background-color: var(--fire);
}

.water {
  background-color: var(--water);
}

.electric {
  background-color: var(--electric);
}

.grass {
  background-color: var(--grass);
}

.ice {
  background-color: var(--ice);
}

.fighting {
  background-color: var(--fighting);
}

.ground {
  background-color: var(--ground);
}

.poison {
  background-color: var(--poison);
}

.flying {
  background-color: var(--flying);
}

.psychic {
  background-color: var(--psychic);
}

.ghost {
  background-color: var(--ghost);
}

.rock {
  background-color: var(--rock);
}

.bug {
  background-color: var(--bug);
}

.bug {
  background-color: var(--bug);
}

.dark {
  background-color: var(--dark);
}

.dragon {
  background-color: var(--dragon);
}

.fairy {
  background-color: var(--fairy);
}

.steel {
  background-color: var(--steel);
}

body {
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(244, 251, 251);
}

main {
  padding: 20px;
}

#pokedex, #search{
  margin-bottom: 30px;
}

#pokedex-title {
  font-weight: 900;
  color: rgb(42, 33, 54);
  font-size: 3rem;
}

main div#pokemons {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap : 0.5rem;
}

a {
  text-decoration: none;
  color: rgb(42, 33, 54);
  overflow: hidden;
  border-radius: 10px;
}

main div#pokemon-card {
  width: 180px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  position: relative;
  flex-direction: column;
}

main div#pokemon-card-id{
  position: absolute;
  right: 12px;
  top: 12px;
  background-color: rgba(255, 255, 255, 0.5);
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 600;
}

main div#pokemon-card-images {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125px;
}

main img#pokemon-image-back {
  position: absolute;
  width: 90%;
  opacity: 0.5;
  filter: invert();
}

main img#pokemon-image {
  width : 125px;
  z-index: 1;
}

#pokeball {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#mainball {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: white;
  border: 7px solid #000;
  border-radius: 50%;
  overflow: hidden;
  animation: codebeauty .25s ease-in-out, spin 3s ease-in-out 3;
}

#mainball::before, .mainball::after {
  content: '';
  position: absolute;
}

#mainball::before {
  background-color: #cd3939;
  width: 100%;
  height: 50%;
}

#mainball::after {
  top: calc(50% - 5px);
  width: 100%;
  height: 9px;
  background-color: #000;
}

#pokebutton {
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 7px);
  width: 14px;
  height: 14px;
  background: #7f8c8d;
  border: 1px solid #fff;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 0 0 0 8px #000;
  animation: buttonglow 3s ease-in-out 3;
}

#search {
  display: grid;
  gap: 10px;
  grid-template-columns:  1fr 50px;
}

#search-pokemon {
  border: transparent;
  background-color: #d7dfe1;
  border-radius: 8px;
  padding-left: 10px;
}

#search-pokemon:active {
  border: 1px solid #5d5f7e;
}

#search-pokemon::placeholder {
  margin-left: 10px;
  font-weight: 300;
}

#search-filter {
  background-color: #5d5f7e;
  padding-inline: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #5d5f7e;
}

#search-filter:hover {
  cursor: pointer;
  background-color: #4d4f66;
  border: 2px solid black;
}

@keyframes codebeauty {
  0% {
    top : -500px;
  }
  50% {
    top : 0px;
  }
  75% {
    top : -30px;
  }
  100% {
    top : 0px;
  }
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes buttonglow {
  0% {
    background: #7f8c8d;
  }
  50% {
    background: #cd3939;
  }
  100% {
    background: #7f8c8d;
  }
}

@media (max-width: 800px) {
  main div#pokemons {
    grid-template-columns: repeat(3,1fr);
  }
}

@media (max-width: 670px) {
  main div#pokemons {
    grid-template-columns: repeat(2,1fr);
  }

  main div#pokemon-card {
    width: 100%;
  }
}

@media (max-width: 320px) {
  main div#pokemon-card {
    width: 140px;
  }
}